<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario Computadora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#">
      </ion-back-button>
    </ion-buttons>

    

    <ion-buttons slot="primary">

      <ion-button disabled="{{modelo.invalid || precio.invalid }}" fill="solid" (click)="guardarComputadora()">
        Guardar
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
      <ion-button  (click)="nuevoComputadora()">
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>


    <ion-item>
      <ion-label>Modelo:</ion-label>
      <ion-input name="modelo" #modelo="ngModel" required [(ngModel)]="computadora.modelo">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha Fabricacion</ion-label>
      <ion-input required #fechaInput!="ngModel" type="date" [(ngModel)]="computadora.fecha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Precio:</ion-label>
      <ion-input name="precio" #precio="ngModel" pattern="^\d+$"  [(ngModel)]="computadora.precio">
      </ion-input>
    </ion-item>

   


  </ion-list>

  <ion-button *ngIf="isNew" fill="solid" (click)="eliminarComputadora()" color="danger">
    Eliminar
    <ion-icon slot="end" name="trash"></ion-icon>
  </ion-button>


  <div *ngIf="precio.invalid && (precio.touched)" class="alert">
    <div *ngIf="precio.errors?.['pattern']">
      <ion-text color="danger">
        Precio debe ser un número positivo
      </ion-text>
    </div>
  </div>

  <div *ngIf="modelo.invalid && (modelo.touched)" class="alert">
    <div *ngIf="modelo.errors?.['required']">
      <ion-text color="danger">
        Modelo Obligatorio
      </ion-text>
    </div>
  </div>




</ion-content>
